// Top Header
.top-header
  .container
    .inner-wrap
      .inner-item
        i.fa-solid.fa-phone
        | #{websiteInfo.phone}
      .inner-item
        i.fa-solid.fa-envelope
        | #{websiteInfo.email}
      .inner-item
        i.fa-solid.fa-building
        | #{websiteInfo.address}
// End Top Header
// Header
header.header
  .container
    .inner-wrap
      // Menu Mobile
      button.inner-menu-mobile
        i.fa-solid.fa-bars
      // Logo
      .inner-logo
        a(href="/")
          img(
            alt=websiteInfo.websiteName 
            src=websiteInfo.logo
            )
      // Menu
      nav.inner-menu
        ul(header-nav)
          li
            a.active(href="/" target-nav) Trang chủ
          each item in categoryList
            li
              a(href=`/category/${item.slug}` target-nav) #{item.name}
              i.fa-solid.fa-caret-down
              ul
                - if (item.children)
                  each child in item.children
                    li
                      a(href=`/category/${child.slug}`) #{child.name}
          //- li
          //-   a(href="#") Tin tức
          //- li
          //-   a(href="#") Liên hệ
        .inner-overlay
      // Cart
      .inner-cart
        a(href="/cart")
          img(
            alt="Cart" 
            src="/client/assets/images/icon-cart.svg"
            )
          span(cart-quantity) 
// End Header