extends ../layouts/default.pug 
include ../mixins/options.pug

block main 
  main.main
    h1.box-title Tạo danh mục
    .section-8
      form#category-create-form
        .inner-group
          label.inner-label(for="name") Tên danh mục
          input#name(
            name="name" 
            type="text"
            )
        .inner-group
          label.inner-label(for="parent") Danh mục cha
          select#parent(name="parent")
            option(value="") -- Chọn danh mục --
            +options(categoryList, 0)
        .inner-group
          label.inner-label(for="position") Vị trí
          input#position(
            name="position" 
            type="number"
            )
        .inner-group
          label.inner-label(for="status") Trạng thái
          select#status(name="status")
            option(value="") Hoạt động
            option(value="") Dừng hoạt động
        .inner-group.inner-two-col
          label.inner-label(for="avatar") Ảnh đại diện
          .inner-upload-image
            input#avatar(
              name="avatar" 
              filepond-image="" 
              accept="image/*" 
              type="file"
              )
        .inner-group.inner-two-col
          label.inner-label(for="description") Mô tả
          textarea#description(
            name="description" 
            textarea-mce=""
            )
        .inner-button.inner-two-col
          button Tạo mới
      .inner-back
        a(href=`/${pathAdmin}/category/list`) Quay lại danh sách