extends ../layouts/default.pug

block main 
  main.main
    h1.box-title Quản lý danh mục
    .section-4
      .inner-wrap
        .inner-item.inner-label
          i.fa-solid.fa-filter
          | Bộ lọc
        .inner-item
          select.status-filter
            option(value="") Trạng thái
            option(value="active") Hoạt động
            option(value="inactive") Tạm dừng
        .inner-item
          select
            option(value="") Người tạo
            option(value="") Lê Văn A
            option(value="") Lê Văn B
        .inner-item.inner-date
          input(type="date")
          span -
          input(type="date")
        .inner-item.inner-reset
          i.fa-solid.fa-rotate-left
          | Xóa bộ lọc
    .section-5
      .inner-wrap
        .inner-change-status
          .inner-item
            select
              option(value="") -- Hành động --
              option(value="") Hoạt động
              option(value="") Dừng hoạt động
              option(value="") Xóa
          .inner-item
            button Áp dụng
        .inner-search
          i.fa-solid.fa-magnifying-glass
          input(
            placeholder="Tìm kiếm" 
            type="text"
            )
        .inner-button-create
          a(href=`/${pathAdmin}/category/create`) + Tạo mới
    .section-6
      .table-2
        table
          thead
            tr
              th.inner-center
                input.inner-check(type="checkbox")
              th Tên danh mục
              th Ảnh đại diện
              th.inner-center Vị trí
              th.inner-center Trạng thái
              th Tạo bởi
              th Cập nhật bởi
              th Hành động
          tbody
            each item in categoryList
              tr
                td.inner-center
                  input.inner-check(type="checkbox")
                td #{item.name}
                td
                  img.inner-avatar(src=item.avatar)
                td.inner-center #{item.position}
                td.inner-center
                  if (item.status == "active")
                    .badge.badge-green Hoạt động
                  else if (item.status == "inactive")
                    .badge.badge-red Tạm dừng
                td
                  div #{item.createdByFullName}
                  .inner-time #{item.createdAtFormat}
                td
                  div #{item.updatedByFullName}
                  .inner-time #{item.updatedAtFormat}
                td
                  .inner-buttons
                    a(href=`/${pathAdmin}/category/edit/${item._id}`).inner-edit
                      i.fa-regular.fa-pen-to-square
                    button(
                      button-delete
                      data-api=`/${pathAdmin}/category/delete/${item.id}`
                    ).inner-delete
                      i.fa-regular.fa-trash-can
    .section-7
      span.inner-label Hiển thị 1 - 9 của 78
      select.inner-pagination
        option Trang 1
        option Trang 2
        option Trang 3