extends ../layouts/default.pug 

block main 
  main.main
    h1.box-title Tổng quan
    .section-1
      .inner-item
        .inner-icon
          img(src="/admin/assets/images/section-1-icon-1.svg")
        .inner-content
          .inner-title Quản trị viên
          .inner-number #{overView.userNum}
      .inner-item
        .inner-icon
          img(src="/admin/assets/images/section-1-icon-2.svg")
        .inner-content
          .inner-title Đơn hàng
          .inner-number #{overView.orderNum}
      .inner-item
        .inner-icon
          img(src="/admin/assets/images/section-1-icon-3.svg")
        .inner-content
          .inner-title Doanh thu
          .inner-number #{overView.totalPrice.toLocaleString("vi-VN")}
    .section-2
      .inner-head
        h2.inner-title Biểu đồ doanh thu
        .inner-filter
          input(
            name="" 
            type="month"
            dashboard-date-filter
            )
      .inner-chart
        canvas#revenue-chart
    .section-3
      h2.inner-title Đơn hàng mới
      .table-1
        table
          thead
            tr
              th Mã
              th Thông tin khách
              th Danh sách tour
              th Thanh toán
              th Trạng thái
              th.inner-text-right Ngày đặt
          tbody
            each orderDetail in newOrderList
              tr
                td
                  .inner-code #{orderDetail.id}
                td
                  .inner-text Họ tên: #{orderDetail.fullName}
                  .inner-text SĐT: #{orderDetail.phone}
                  .inner-text Ghi chú: #{orderDetail.note}
                td
                  each item in orderDetail.items
                    .inner-item
                      .inner-image
                        img(
                          alt=item.name 
                          src=item.avatar
                          )
                      .inner-content
                        .inner-name Tour Hạ Long
                        .inner-quantity Người lớn: #{item.quantityAdult} x #{item.priceNewAdult.toLocaleString("vi-VN")}đ
                        .inner-quantity #{item.quantityChildren} x #{item.priceNewChildren.toLocaleString("vi-VN")}đ
                        .inner-quantity #{item.quantityBaby} x #{item.priceNewBaby.toLocaleString("vi-VN")}đ
                td
                  .inner-text Tổng tiền: #{orderDetail.subTotal}đ
                  .inner-text Giảm: #{orderDetail.discount}đ
                  //- .inner-text Mã giảm: TOURMUAHE2024
                  .inner-text Thanh toán: #{orderDetail.total}đ
                  .inner-text PTTT: #{orderDetail.paymentMethodName}
                  .inner-text TTTT: #{orderDetail.paymentStatusName}
                td(style={width: "150px"})
                  - if (orderDetail.status == "initial")
                    .badge.badge-orange #{orderDetail.statusName}
                  - if (orderDetail.status == "done")
                    .badge.badge-green #{orderDetail.statusName}
                  - if (orderDetail.status == "cancel")
                    .badge.badge-red #{orderDetail.statusName}
                td.inner-text-right
                  .inner-text #{orderDetail.createdAtTimeFormat}
                  .inner-text #{orderDetail.createdAtDateFormat}