extends ../layouts/default.pug 

block main 
  - if (permissions.includes("order-view"))
    main.main
      h1.box-title Quản lý đơn hàng
      .section-4
        .inner-wrap
          .inner-item.inner-label
            i.fa-solid.fa-filter
            | Bộ lọc
          .inner-item
            select
              option(value="") Trạng thái
              option(value="") Khởi tạo
              option(value="") Hoàn thành
              option(value="") Hủy
          .inner-item.inner-date
            input(type="date")
            span -
            input(type="date")
          .inner-item
            select
              option(value="") Phương thức thanh toán
              option(value="") Ví Momo
              option(value="") VNPay
              option(value="") ZaloPay
          .inner-item
            select
              option(value="") Trạng thái thanh toán
              option(value="") Đã thanh toán
              option(value="") Chưa thanh toán
          .inner-item.inner-reset
            i.fa-solid.fa-rotate-left
            | Xóa bộ lọc
      .section-5
        .inner-wrap
          .inner-search
            i.fa-solid.fa-magnifying-glass
            input(
              placeholder="Tìm kiếm" 
              type="text"
              )
      .section-6
        .table-2
          table
            thead
              tr
                th Mã
                th Thông tin khách
                th Danh sách tour
                th Thanh toán
                th Trạng thái
                th.inner-center Ngày đặt
                th Hành động
            tbody
              each orderDetail in orderList
                tr
                  td
                    .inner-code #{orderDetail.id}
                  td
                    div Họ tên: #{orderDetail.fullName}
                    div SĐT: #{orderDetail.phone}
                    div Ghi chú: #{orderDetail.note}
                  td
                    each item in orderDetail.items
                      .inner-item
                        .inner-image
                          img(
                            alt=item.name 
                            src=item.avatar
                            )
                        .inner-content
                          .inner-name Tour Hạ Long
                          .inner-quantity Người lớn: #{item.quantityAdult} x #{item.priceNewAdult.toLocaleString("vi-VN")}đ
                          .inner-quantity #{item.quantityChildren} x #{item.priceNewChildren.toLocaleString("vi-VN")}đ
                          .inner-quantity #{item.quantityBaby} x #{item.priceNewBaby.toLocaleString("vi-VN")}đ
                  td
                    div Tổng tiền: #{orderDetail.subTotal.toLocaleString("vi-VN")}đ
                    div Giảm: #{orderDetail.discount.toLocaleString("vi-VN")}đ
                    //- div Mã giảm: TOURMUAHE2024
                    div Thanh toán: #{orderDetail.total.toLocaleString("vi-VN")}đ
                    div PTTT: #{orderDetail.paymentMethodName}
                    div TTTT: #{orderDetail.paymentStatusName}
                  td
                    - if (orderDetail.status == "initial")
                      .badge.badge-orange #{orderDetail.statusName}
                    - if (orderDetail.status == "done")
                      .badge.badge-green #{orderDetail.statusName}
                    - if (orderDetail.status == "cancel")
                      .badge.badge-red #{orderDetail.statusName}
                  td.inner-center
                    div #{orderDetail.createdAtTimeFormat}
                    div #{orderDetail.createdAtDateFormat}
                  td
                    .inner-buttons
                      - if (permissions.includes("order-edit"))
                        a(href=`/${pathAdmin}/order/edit/${orderDetail.id}`).inner-edit
                          i.fa-regular.fa-pen-to-square
                      - if (permissions.includes("order-delete"))
                        button.inner-delete(
                          data-api=`/${pathAdmin}/order/delete/${orderDetail.id}`
                          order-delete
                        )
                          i.fa-regular.fa-trash-can
      .section-7
        span.inner-label Hiển thị 1 - 9 của 78
        select.inner-pagination
          option Trang 1
          option Trang 2
          option Trang 3