extend ../layouts/default.pug

block main 
  main.main
    h1.box-title Đơn hàng: #{orderDetail.id}
    .section-8
      form#order-edit-form
        .inner-group(style={display: "none"})
          label.inner-label(for="id") ID
          input#id(
            value=orderDetail.id 
            name="id" 
            type="text"
            )
        .inner-group
          label.inner-label(for="fullName") Tên khách hàng
          input#fullName(
            value=orderDetail.fullName 
            name="fullName" 
            type="text"
            )
        .inner-group
          label.inner-label(for="phone") Số điện thoại
          input#phone(
            value=orderDetail.phone 
            name="phone" 
            type="text"
            )
        .inner-group.inner-two-col
          label.inner-label(for="note") Ghi chú
          textarea#note(name="note") #{orderDetail.note}
        .inner-group
          label.inner-label(for="paymentMethod") Phương thức thanh toán
          select#paymentMethod(name="paymentMethod")
            each item in paymentMethod 
              option(value=item.value selected=(item.value == orderDetail.paymentMethod ? true : false)) #{item.label}
        .inner-group
          label.inner-label(for="paymentStatus") Trạng thái thanh toán
          select#paymentStatus(name="paymentStatus")
            each item in paymentStatus 
              option(value=item.value selected=(item.value == orderDetail.paymentStatus ? true : false)) #{item.label}
        .inner-group
          label.inner-label(for="createdAt") Ngày đặt
          input#createdAt(
            readonly="" 
            value=orderDetail.createdAtFormat
            name="createdAt" 
            )
        .inner-group
          label.inner-label(for="status") Trạng thái
          select#status(name="status")
             each item in orderStatus 
              option(value=item.value selected=(item.value == orderDetail.status ? true : false)) #{item.label}
        .inner-group
          label.inner-label Danh sách tour
          .inner-order-list
            each item in orderDetail.items
              .inner-order-item
                .inner-order-image
                  img(
                    alt=item.name 
                    src=item.avatar
                    )
                .inner-order-content
                  .inner-order-name #{item.name}
                  .inner-order-text Người lớn: #{item.quantityAdult} x #{item.priceNewAdult.toLocaleString("vi-VN")}đ
                  .inner-order-text Trẻ em: #{item.quantityChildren} x #{item.priceNewChildren.toLocaleString("vi-VN")}đ
                  .inner-order-text Em bé: #{item.quantityBaby} x #{item.priceNewBaby.toLocaleString("vi-VN")}đ
                  .inner-order-text Ngày khởi hành: #{item.departureDateFormat}
                  .inner-order-text Khởi hành tại: #{item.departureName}
        .inner-group
          label.inner-label Thanh toán
          .inner-order-total
            div Tổng tiền: #{orderDetail.subTotal.toLocaleString("vi-VN")}đ
            div Giảm: #{orderDetail.discount.toLocaleString("vi-VN")}đ
            //- div Mã giảm: TOURMUAHE2024
            div
              | Thanh toán:
              span.inner-order-price #{orderDetail.total.toLocaleString("vi-VN")}đ
        .inner-button.inner-two-col
          button Cập nhật
      .inner-back
        a(href=`/${pathAdmin}/order/list`) Quay lại danh sách