extends ../layouts/default.pug

block main 
  - if (permissions.includes("setting-role"))
    main.main
      h1.box-title Chỉnh sửa nhóm quyền
      .section-8
        form#setting-role-edit-form
          .inner-group(style={display: "none"})
            label.inner-label(for="id") ID
            input#id(
              name="id" 
              type="text"
              value=roleDetail.id
              )
          .inner-group
            label.inner-label(for="name") Tên nhóm quyền
            input#name(
              name="name" 
              type="text"
              value=roleDetail.name
              )
          .inner-group
            label.inner-label(for="description") Mô tả ngắn
            input#description(
              name="description" 
              type="text"
              value=roleDetail.description
              )
          .inner-group
            label.inner-label Phân quyền
            .inner-checkbox-list
              each item in permissionList
                .inner-checkbox-item
                  input(
                    value=item.value
                    name="permissions" 
                    type="checkbox"
                    checked=roleDetail.permissions.includes(item.value)
                    )
                  label #{item.label}
          .inner-button.inner-two-col
            button Cập nhật
        .inner-back
          a(href=`/${pathAdmin}/setting/role/list`) Quay lại danh sách