extends ../layouts/default.pug 

block main 
  main.main
    h1.box-title Tài khoản quản trị
    .section-4
      .inner-wrap
        .inner-item.inner-label
          i.fa-solid.fa-filter
          | Bộ lọc
        .inner-item
          select(admin-account-status-filter)
            option(value="") Trạng thái
            option(value="active") Hoạt động
            option(value="inactive") Tạm dừng
        .inner-item.inner-date
          input(type="date" admin-account-start-date-filter)
          span -
          input(type="date" admin-account-end-date-filter)
        .inner-item
          select(admin-account-role-filter)
            option(value="") Nhóm quyền
            each item in roleList 
              option(value=item.id) #{item.name}
        .inner-item.inner-reset(admin-account-delete-filter)
          i.fa-solid.fa-rotate-left
          | Xóa bộ lọc
    .section-5
      .inner-wrap
        .inner-change-status
          .inner-item
            select(admin-account-multi-apply-status)
              option(value="") -- Hành động --
              option(value="active") Hoạt động
              option(value="inactive") Dừng hoạt động
              option(value="delete") Xóa
          .inner-item
            button(admin-account-multi-apply-button) Áp dụng
        .inner-search(admin-account-search)
          i.fa-solid.fa-magnifying-glass
          input(
            placeholder="Tìm kiếm" 
            type="text"
            )
        .inner-button-create
          a(href=`/${pathAdmin}/setting/account-admin/create`) + Tạo mới
    .section-6
      .table-2
        table
          thead
            tr
              th.inner-center
                input.inner-check(type="checkbox" admin-account-checkall)
              th Họ tên
              th.inner-center Ảnh đại diện
              th Email
              th Số điện thoại
              th Nhóm quyền
              th Chức vụ
              th Trạng thái
              th Hành động
          tbody
            each item in adminAccountList
              tr
                td.inner-center
                  input.inner-check(type="checkbox" admin-account-checkall-item=item.id)
                td #{item.fullName}
                td.inner-center
                  img.inner-avatar(src=item.avatar)
                td #{item.email}
                td #{item.phone}
                td #{item.roleInfo}
                td #{item.positionCompany}
                td
                  if (item.status == "active")
                    .badge.badge-green Hoạt động
                  if (item.status == "inactive")
                    .badge.badge-red Tạm dừng
                td
                  .inner-buttons
                    a.inner-edit(
                      href=`/${pathAdmin}/setting/account-admin/edit/${item.id}`
                    )
                      i.fa-regular.fa-pen-to-square
                    button.inner-delete
                      i.fa-regular.fa-trash-can
    .section-7
      span.inner-label Hiển thị 1 - 9 của 78
      select.inner-pagination
        option Trang 1
        option Trang 2
        option Trang 3