extends ../layouts/default.pug 

block main 
  main.main
    h1.box-title Tạo tài khoản quản trị
    .section-8
      form#setting-account-admin-create-form
        .inner-group
          label.inner-label(for="fullName") Họ tên
          input#fullName(
            name="fullName" 
            type="text"
            )
        .inner-group
          label.inner-label(for="email") Email
          input#email(
            name="email" 
            type="email"
            )
        .inner-group
          label.inner-label(for="phone") Số điện thoại
          input#phone(
            name="phone" 
            type="text"
            )
        .inner-group
          label.inner-label(for="role") Nhóm quyền
          select#role(name="role")
            option(value="") Quản trị viên
            option(value="") Quản lý tour
            option(value="") Quản lý đơn hàng
        .inner-group
          label.inner-label(for="positionCompany") Chức vụ
          input#positionCompany(
            name="positionCompany" 
            type="text"
            )
        .inner-group
          label.inner-label(for="status") Trạng thái
          select#status(name="status")
            option(value="") Hoạt động
            option(value="") Dừng hoạt động
        .inner-group
          label.inner-label(for="password") Mật khẩu
          input#password(
            name="password" 
            type="text"
            )
        .inner-group.inner-two-col
          label.inner-label(for="avatar") Ảnh đại diện
          .inner-upload-image
            input#avatar(
              name="avatar" 
              filepond-image="" 
              accept="image/*" 
              type="file"
              )
        .inner-button.inner-two-col
          button Tạo mới
      .inner-back
        a(href=`/${pathAdmin}/setting/account-admin/list`) Quay lại danh sách