extends ../layouts/default.pug 

block main
  main.main
    h1.box-title Thông tin website
    .section-8
      form#setting-website-info-form
        .inner-group
          label.inner-label(for="websiteName") Tên website
          input#websiteName(
            value="28.TRAVEL" 
            name="websiteName" 
            type="text"
            )
        .inner-group
          label.inner-label(for="phone") Số điện thoại
          input#phone(
            value="0123456789" 
            name="phone" 
            type="text"
            )
        .inner-group
          label.inner-label(for="email") Email
          input#email(
            value="contact@28.travel.com" 
            name="email" 
            type="text"
            )
        .inner-group
          label.inner-label(for="address") Địa chỉ
          input#address(
            value="Số 123, đường ABC" 
            name="address" 
            type="text"
            )
        .inner-group
          label.inner-label(for="logo") Logo
          .inner-upload-image
            input#logo(
              name="logo" 
              filepond-image="" 
              accept="image/*" 
              type="file"
              )
        .inner-group
          label.inner-label(for="favicon") Favicon
          .inner-upload-image
            input#favicon(
              name="favicon" 
              filepond-image="" 
              accept="image/*" 
              type="file"
              )
        .inner-button.inner-two-col
          button Cập nhật
      .inner-back
        a(href=`/${pathAdmin}/setting/list`) Quay lại danh sách