extends ../layouts/default.pug 

block main 
  main.main
    h1.box-title Thùng rác tour
    .section-5
      .inner-wrap
        .inner-change-status
          .inner-item
            select(class="tour-trash-apply-multi")
              option(value="") -- Hành động --
              option(value="recovery") Khôi phục
              option(value="hard-delete") Xóa vĩnh viễn
          .inner-item(
            class="tour-trash-apply-multi-button"
            data-api=`/${pathAdmin}/tour/trash/apply-multi`
          )
            button Áp dụng
        .inner-search(class="tour-trash-search")
          i.fa-solid.fa-magnifying-glass
          input(
            placeholder="Tìm kiếm" 
            type="text"
            )
    .section-6
      .table-2
        table
          thead
            tr
              th.inner-center
                input.inner-check(type="checkbox" class="tour-trash-check-all")
              th Tên tour
              th Ảnh đại diện
              th Giá
              th Còn lại
              th.inner-center Vị trí
              th.inner-center Trạng thái
              th Tạo bởi
              th Cập nhật bởi
              th Hành động
          tbody
            each item in tourList
              tr
                td.inner-center
                  input.inner-check(type="checkbox" item-check=item.id)
                td #{item.name}
                td
                  img.inner-avatar(src=item.avatar)
                td
                  div NL: #{item.priceAdultFormat}đ
                  div TE: #{item.priceChildrenFormat}đ
                  div EB: #{item.priceBabyFormat}đ
                td
                  div NL: #{item.stockAdult}
                  div TE: #{item.stockChildren}
                  div EB: #{item.stockBaby}
                td.inner-center 1
                td.inner-center
                  if (item.status == "active")
                    .badge.badge-green Hoạt động
                  if (item.status == "inactive")
                    .badge.badge-red Dừng hoạt động
                td
                  div #{item.createdByFullName}
                  .inner-time #{item.createdAtFormat}
                td
                  div #{item.updatedByFullName}
                  .inner-time #{item.updatedAtFormat}
                td
                  .inner-buttons
                    button.inner-undo(
                      data-api=`/${pathAdmin}/tour/recovery/${item.id}`
                      recovery-tour-button
                    )
                      i.fa-solid.fa-rotate-left
                    button.inner-delete(
                      data-api=`/${pathAdmin}/tour/hard-delete/${item.id}`
                      hard-delete-tour-button
                    )
                      i.fa-regular.fa-trash-can
    .section-7
      span.inner-label Hiển thị #{pagination.skip + 1} - #{pagination.skip + tourList.length} của #{pagination.totalRecord}
      select.inner-pagination(class="tour-trash-pagination")
        - for (let i = 1; i <= pagination.totalPage; i++)
          option(value=i) Trang #{i}