extends ../layouts/default.pug 
include ../mixins/options.pug

block main 
    main.main
      h1.box-title Tạo Voucher
      .section-8
        form#voucher-create-form
          .inner-group
            label.inner-label(for="name") Tên mã Voucher
            input#name(
              name="name" 
              type="text"
              )
          .inner-group
            label.inner-label(for="percentage") Phần trăm giảm
            input#percentage(
              name="percentage" 
              type="number"
              min="0"
              max="100"
              )
          .inner-group
            label.inner-label(for="maxDiscount") Giảm tối đa
            input#maxDiscount(
              name="maxDiscount" 
              type="number"
              min="0"
              )
          .inner-group
            label.inner-label(for="expire") Ngày hết hạn
              input#expire(
                name="expire" 
                type="date"
                )
          .inner-group
            label.inner-label(for="status") Trạng thái
            select#status(name="status")
              option(value="active") Hoạt động
              option(value="inactive") Dừng hoạt động
          .inner-button.inner-two-col
            button Tạo mới
        .inner-back
          a(href=`/${pathAdmin}/voucher/list`) Quay lại danh sách