mixin breadcrumb(data)
  .box-breadcrumb
    .inner-image
        img(
        alt="" 
        src=data.img
        )
    .inner-content
        .container
            h1.inner-title #{data.name}
            .inner-list
                each item in data.array
                    a(href=item.link) #{item.title}