mixin cardItem(item)
  - const discount = parseInt((item.priceAdult - item.priceNewAdult) / item.priceAdult * 100);
  
  // Product Item
  .product-item
    .inner-image
      a(href=`/tours/detail/${item.slug}`)
        img(
          alt=item.name
          src=item.avatar
          )
    .inner-discount
      i.fa-solid.fa-bolt
      | Giảm -#{discount}%
    .inner-content
      h3.inner-title
        a(href=`/tours/detail/${item.slug}`) #{item.name}
      .inner-prices
        .inner-price-old
          | #{parseInt(item.priceAdult).toLocaleString()}
          span.inner-unit đ
        .inner-price-new
          | #{parseInt(item.priceNewAdult).toLocaleString()}
          span.inner-unit đ
      .inner-desc
        .inner-desc-item
          | Mã Tour:
          b TOUR000#{item.position}
        .inner-desc-item
          | Ngày Khởi Hành:
          b #{item.departureDateFormat}
        .inner-desc-item
          | Thời Gian:
          b #{item.time}
      .inner-meta
        .inner-rating
          .inner-stars
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
          .inner-number (5)
        .inner-stock
          .inner-label Số chỗ còn:
          .inner-number #{item.stockAdult}
  // End Product Item