nav.sider
  ul.inner-menu
    - if (permissions.includes("dashboard-view"))
      li
        a(href=`/${pathAdmin}/dashboard`)
          i.fa-solid.fa-gauge-high
          | Tổng quan
    - if (permissions.includes("category-view"))
      li
        a(href=`/${pathAdmin}/category/list`)
          i.fa-solid.fa-table-cells-large
          | Quản lý danh mục
    - if (permissions.includes("tour-view"))
      li
        a(href=`/${pathAdmin}/tour/list`)
          i.fa-solid.fa-table-list
          | Quản lý tour
    - if (permissions.includes("order-view"))
      li
        a(href=`/${pathAdmin}/order/list`)
          i.fa-solid.fa-list-check
          | Quản lý đơn hàng
    li
      a(href=`/${pathAdmin}/user/list`)
        i.fa-solid.fa-user
        | Quản lý người dùng
    li
      a(href=`/${pathAdmin}/contact/list`)
        i.fa-solid.fa-user-group
        | Thông tin liên hệ
  hr
  ul.inner-menu
    li
      a(href=`/${pathAdmin}/setting/list`)
        i.fa-solid.fa-gear
        | Cài đặt chung
    li
      a(href=`/${pathAdmin}/profile/edit`)
        i.fa-solid.fa-user-gear
        | Thông tin cá nhân
    li
      a.inner-logout(href="#")
        i.fa-solid.fa-power-off
        | Đăng xuất
.sider-overlay